
.send-button {
	background-image: url("images/button-callme.png");
	background-repeat: no-repat;
	background-position: 0 0;
	height: 37px;
	width: 190px;
	position:relative;
	color:#fff;
	font-size:16px;
	left: 20%;
	display: block;
	cursor: pointer;
}
.send-button:hover {background-position: 0 100%;}
.send-button:active {
	background-position: 0 100%;
}



.mf-time {
	padding: 5px;
	text-align: center;
	width: 305px;
}

#date-items {
	color: #4FD3F7;
	margin: 15px 0 0;
	padding: 0;
}

#date-items {
	cursor: pointer;
}

#callback-block {
	width: 325px;
}

div.mf-name, div.mf-email, div.mf-message {
	width: 100%;
	padding-bottom: 0.4em;
}
.mf-theme{
	padding-bottom: 10px;
}
div.mf-name input, div.mf-email input, div.mf-phone input, div.mf-theme select
	{
	background: none repeat scroll 0 0 #F1F3F3;
	border: 1px solid #D7D7D7;
	border-radius: 5px;
	font-size: 18px;
	height: 30px;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 0 0 0 10px;
	width: 100%;
}



div.mf-captcha {

}
#captcha_word{
	float: right;
}
div.mf-captcha-image {
	float: left;
	width: 150px;
	height: 40px;
	margin-right: 10px;
}

div.captcha-form input {
	background: none repeat scroll 0 0 #F1F3F3;
	border: 1px solid #D7D7D7;
	border-radius: 5px;
	font-size: 18px;
	height: 40px;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 0 0 0 10px;
	 width: 135px;
}

.mf-captcha-text {
	font-size: 12px;
	text-align: center;
}
.mf-captcha-image img {
  height: 40px;
  margin-top: 5px;
}
.captcha-clear {
	clear: both;
}

div.mf-message textarea {
	width: 60%;
}

span.mf-req {
	color: red;
}

div.mf-ok-text {
	color: green;
	font-weight: bold;
	padding-bottom: 1em;
}
#user_name, #user_phone, #user_email, #user_theme {
	font-family: helvetica, arial;
	font-size: 14px;
	color: #7f7f7f;
	width: 100%;
}

.row-button {
    display: block;
    text-align: center;
    width: 100%;
}
.req {
    border: 1px solid red !important;
    box-shadow: 0 0 2px 0 red;
}
.ui-dialog-title{
	text-align: center;
}
.clocks {
    height: 169px;
    margin: 1px auto;
    position: relative;
    width: 160px;
}
.slider-time {
	background: #f3f3f3 none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    width: 280px;
}
.call-time {
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
}
.call-time span {
    font-size: 16px;
}
#time-after, #time-before{
    color: red;
}
.success-msg{
	font-size: 18px;
	color: green;
	text-align: center;
}

